In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('Dataset.csv')

In [3]:
# Assume the column containing city names is 'City' and ratings is 'Rating'

In [4]:
# 1. Identify the city with the highest number of restaurants
city_restaurant_counts = df['City'].value_counts()
city_with_most_restaurants = city_restaurant_counts.idxmax()

In [5]:
# 2. Calculate the average rating for restaurants in each city
average_city_ratings = df.groupby('City')['Aggregate rating'].mean()

In [6]:
# 3. Determine the city with the highest average rating
city_with_highest_avg_rating = average_city_ratings.idxmax()
highest_avg_rating = average_city_ratings.max()

In [7]:
# Display the results
print(f"City with the highest number of restaurants: {city_with_most_restaurants}")
print(f"Number of restaurants in that city: {city_restaurant_counts.max()}")

City with the highest number of restaurants: New Delhi
Number of restaurants in that city: 5473

In [8]:
print("\nAverage Rating for Restaurants in Each City:")
print(average_city_ratings)

Average Rating for Restaurants in Each City:
City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

In [9]:
print(f"\nCity with the highest average rating: {city_with_highest_avg_rating}")
print(f"Highest average rating: {highest_avg_rating}")

City with the highest average rating: Inner City
Highest average rating: 4.9